<div class="row">
  <div class="col-sm">
    <hr>
    <div *ngFor="let QandA of questionAndAnswers; let i = index;" class="row">
      <a class="col-sm-auto mx-auto my-4" href="/answers/{{i}}"
         (mouseover)="onPointerOver(i)"
         (mouseleave)="onPointerOut(i)">
        <div class="card text-center"
             [class.shadow]="!QandA.question.mouseOver"
             [class.shadow-sm]="QandA.question.mouseOver"
        >
          <h3 class="card-body mx-auto"
          >{{QandA.question.body}}</h3>
        </div>
      </a>
    </div>
    <hr>
  </div>
</div>
